*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

nav{
    display: flex;
    margin: 0 10rem;
    padding: 3rem;
    position:relative;
}
.img img{
    width: 30px;
}

.nav-links{
    list-style-type: none;
    width: 50%;
    margin-left: auto;
    font-weight: 600;
    font-size: 15px;
    justify-content: flex-end;
    display: flex;
}
.nav-links a{
    margin-left: 20px;
    margin-right: 20px;
    color:black;
}
.nav-links a:hover{
    color:rgb(0, 150, 150);
}

.main{
    position: relative;
    background-image: url(img/baner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    display:flex;
    justify-content: flex-end;
}

@media all and (max-width:600px){
    .text{
        justify-content: center;
        text-align: center;
    }
    .text2{
        padding: 0!important;;
    }
}

.text-wrapper{
    margin: 90px 10rem 30px 10rem;
    width:600px;
}

@media all and (max-width:700px){
    .text-wrapper{
        margin: 30px;
        max-width: 120%;
    }
    .btn{
        margin: auto;
    }
}

.text2{
    font-size: 4vh;
    margin-top: 2rem;
    padding-right: 15%;
    letter-spacing: 2px;
    color:black;
}
.text3{
    color:rgb(85, 87, 87);
    margin-top: 20px;
    width: 450px;
    letter-spacing: 2px;
    line-height: 20px;
}

.btn{
    margin-top: 40px;
    padding: 15px 30px 15px 30px;
    background-color: rgb(0, 200, 200);
    border: none;
    color: white;
}
.btn a{
    color: white;
    letter-spacing: 2px;
}

.about{
    padding: 50px;
    height: 30hv;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.abouttext{
    width: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.abouth{
    font-size: 4vh;
    letter-spacing: 2px;
    
}
.aboutp{
    color: rgb(85, 87, 87);
    letter-spacing: 2px;
    margin-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
    margin: 20px;
}
.skills{
    height: 55vh;
    display: flex;
    background-color: rgb(213, 213, 213);
    background-image: url(img/skills_bg.png);   
    background-repeat: no-repeat;
    background-size: 100%;
}

.skills_left{
    width: 50%;
    justify-content: center;
    align-items: center;
}
.skills_bars{
    padding: 100px 0 0 100px;

}
@media all and (max-width:800px){
    .skills_bars{
        padding: 60px 0 0 60px;
    }
}
@media all and (max-width:700px){
    .skills_bars{
        padding: 30px 0 0 30px;
    }
}
.skills_bars h2{
    font-size: 3vh;
    font-weight: 1200;
    position: relative;
    letter-spacing: 2px;
}
.skills_bars ul{
    margin-top: 50px;
}
.bars{
    list-style: none;
    margin: 0;
    padding: 0;
}
.bars li{
    height: 35px;
    margin-bottom: 50px;
}
.bars li b{
    position: relative;
    top: -70%;
    font-size: 0.8rem;
    letter-spacing: 2px;
}
.bar1{
    height: 5px;
    margin: 0;
    position: absolute;
    background-color: rgb(85, 87, 87);
}
.bar{
    height: 5px;
    margin: 0;
    position: absolute;
    width: 25%;
    animation: bar 2s ease-out;
}

.line{
    width: 15%;
    height: 5px;
    position: absolute;
    background-color: rgb(0, 200, 200);
}
.line2{
    width: 20%;
    height: 5px;
    position: absolute;
    background-color: rgb(0, 200, 200);
}

.line3{
    width: 10%;
    height: 5px;
    position: absolute;
    background-color: rgb(0, 200, 200);
}

.numbers{
    height: 30vh;
    background-color: rgb(0, 200, 200);
}

.container{
    padding: 50px;
    height: 100%;
    display: flex;
}
@media all and (max-width: 900px){
    .container{
        padding: 20px;
        flex-wrap: wrap;
    }
    .box{
        font-size: 10px;
    }
    .box i{
        font-size: 15px!important;
    }
}
@media all and (max-width: 700px){
    .container{
        padding: 20px;
        flex-wrap: wrap;
    }
    .box{
        font-size: 7px!important;
    }
    .box i{
        font-size: 20px!important;
    }
}
.box{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box i {
    font-size: 50px;
}
.box_text{
    margin-left: 20px;
    color: white;
    letter-spacing: 2px;
}
.work {
    display: flex;
    flex-wrap: wrap;
}
.work div{
    position: relative;
    width: 25%;
    overflow: hidden;
    height: 30vh;
    text-align: center;
}
.work div img{
    width: 50%;
    transition: width .3s;
}
.bg{
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity .3s;
    font-size: 20px;
    text-align: center;
    background-image: url(img/eye.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center;
}
.work div:hover .bg{
    opacity: 1;
}
.load_more{
    width: 100%;
    height: 80px;
    padding: 30px;
    background-color: #cfcfcf;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
}
.load_more p{
    position: relative;
    padding: 5px;
}
.work_process{
    height: 130vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.process_text{
    font-size: 25px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}
.process_text h1{
    
    font-weight: 1200;
}
.process_text p{
    font-size: 15px;
    padding-top:20px ;
    width: 30%;
    margin: auto;
}


.services{
    display: flex;
    flex-wrap: wrap;
    background-color:#ddd;
}
.services div{
    position: relative;
    width: 25%;
    overflow: hidden;
    height: 30vh;
    text-align: center;
    padding: 20px;

    position: relative;

    align-items: center;
    justify-content: center;
}
.services div i {
    font-size: 50px;
    margin: 40px 10px 10px 10px;
    color: rgb(85, 87, 87);
}
.services div h3{
    margin: 20px 20px 10px 20px;
}
.services div p{
    margin: 10px 50px 50px 50px;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(85, 87, 87);
}

.testimonials{
    height: 70vh;
    display: flex;
    background-color: rgb(0, 200, 200);
}










.clients{
    display: flex;
}
.clients div{
    position: relative;
    padding: 30px;
    width: 20%;
    overflow: hidden;
    height: 30vh;
    text-align: center;
    padding: 20px;

    
}
.one{
    background-image: url(img/1.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.two{
    background-image: url(img/2.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.three{
    background-image: url(img/3.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.four{
    background-image: url(img/4.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.five{
    background-image: url(img/5.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}
.need-a-project{
    height: 100vh;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    text-align: center;
}
.need_div{
    width: 1200px;
}
.need-a-project div{
    padding: 50px;
}
.need-a-project h1{
    font-size: 40px;
    margin: 30px 30px 20px 30px;
}
.need-a-project p{
    width: 60%;
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
}
.need-a-project input{
    border: none;
    padding: 20px;
    margin: 10px;
}
.form form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.form_title{
    grid-column: span 2;
}
.form_comment{
    grid-column: span 2;
}

.need-a-project button{
    margin-top: 0;
}
.footer{
    color: #ddd;
    height: 30vh;
    background-color: rgb(27, 27, 27);
    display: flex;
    width: 100%;
}
.footer div{
    padding: 100px;
    
    width: 25%;
    justify-content: center;
}
.footer h4{
    padding: 0 20px 20px 0;
    color: white;
}
.footer p{
    padding: 10px 10px 10px 0;
}
.footer ul{
    list-style: none;
}
.ul_count{
    column-count: 2;
}
.footer ul li{
    padding: 5px;
}
.hamburger{
    display: none;
    font-size: 30px;
    right:0;
}

@media only screen and (max-width: 1350px) {
 
    .nav-links a{
        display: none;
    }
    .nav-links a.icon {
        float: right;
        display: block;
      }
    .nav-links.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .nav-links.responsive {
        position: relative;
        flex-wrap: wrap;
        z-index: 1;
        width: 10%;
        background-color: gray;
        width: auto;

    }
  
    
    .hamburger.icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
    .hamburger{
        position: absolute;
        display: block!important;
        width: 70%;
    }
    nav{
        margin:0 4rem;
    }
    .pe-7s-menu{
        display: block!important;
        float: right;
        color: black;
        margin: 0 10px;
    }

    
    
    
}